.header{
    background-color: #ffe6c7;
    padding: 32px 138px;
    display: flex;
    justify-content: space-between;
}

.header-button{
    place-self: center;
}

.header-button button{
    border: none;
    background-color: orangered;
    color: white;
    width: 129px;
    height: 43px;
    cursor: pointer;
}

.header-button button:hover{
    box-shadow: orangered;
}

@media (min-width: 320px) and (max-width: 650px) {
    .header{
        padding: 13px 22px;
    }

    #header-img{
        width: 120px;
        height: 43px;
    }

}

@media (min-width: 651px) and (max-width: 1024px) {

    .header{
        padding: 32px 78px;
    }
}