.namesub, .emailphone{
  display: grid;
  grid-auto-flow: column;
  gap: 24px;
}

.name{
  display: flex;
  border: solid 1px ;
  border-color: #ddd;
  height:45px ;
  padding-left: 10px;
}
.phase-five-line{
    border: solid 4px orangered;
    height: 0px;
    width: 160px;

}
.name img{
    place-self: center;
}
.messagebox{
  margin: 34px 0px;
}
.messagebox input{
  width: 100%;
  height: 45px;
  border: solid 1px #ddd;
  outline: none;
}

#message{
  height: 65px;
}

button{
  border: none;
  width: 100%;
  background-color: orangered;
  color: white;
  height: 42px;
  cursor: pointer;
}

.name input, .emailphone input{
  width: 100%;
  width: 100%;
  border: none;
  font-size: 14px;
  background-color: white;
  color:#454545;
  outline: none;

}

.name-container{
  margin: 20px 0px;
}

.formline{
    border: solid 1px;
    color: #ddd;
    height: 31px;
    place-self: center;
    margin: 0px 10px 0px 10px;
}

.mail-container{
  display: grid;
  grid-auto-flow: column;
  padding: 0px 40px;
}

.left{
    background-color: white;
    padding: 33px;
    max-width:688px;
    margin-bottom: 83px;
        place-self: end;
}

.phase-five{
    background-color: #ffe6c7;
    
}

.phase-five-head{
    display: grid;
    justify-content: center;
    gap: 7px;
    place-items: center;
    padding-bottom: 68px;
    text-align: center;
    padding-top: 77px;
}

.phase-five-head h1{
  font-size: 64px;
}

.error{
  color: red;
}

.form-para p{
  color: #999;
  font-size: 14px;
  margin-top: 3px;
  font-family: var(--font-questrial);
  line-height: 20px;

}

.form-para h3{
  font-family: var(--font-ibm);
  font-size: 21px;
}

.name-container label, .messagebox label{
  color: #454545;
  font-size: 15px;
  font-family: var(--font-questrial);

}

 
@media (min-width: 320px) and (max-width: 650px) {

    .mail-container{
        grid-auto-flow: unset;
    }
    
    .left{
       
        place-self: unset;
        margin-bottom: 30px;
    }

    .right img{
        max-width: 354px;
        width: 100%;
        max-height: 444px;
        height: 100%
    }

    .right{
        place-self: center;
    }
    

}

@media (min-width: 651px) and (max-width: 1024px) {


    .mail-container{
        grid-auto-flow: unset;
    }

    .left{
        place-self: unset;
        margin-bottom: 30px;
    }

}